extends layout

block content
	h1=title
	if posts
		each post, i in posts
			.post
				h2
					a(href='/posts/show/#{post._id}') #{post.title}
				p.meta Posted in 
					a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
				=truncateText(post.body,250)
				a.more(href='/posts/show/#{post._id}') Read more...
		else
			p No posts
				
